apiVersion: apps/v1
kind: Deployment
metadata:
  name: amf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: amf
  template:
    metadata:
      labels:
        app: amf
    spec:
      containers:
      - name: amf
        image: amf-cnf:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000

