apiVersion: apps/v1
kind: Deployment
metadata:
  name: smf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: smf
  template:
    metadata:
      labels:
        app: smf
    spec:
      containers:
      - name: smf
        image: smf-cnf:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8001

